{% extends 'base.html.twig' %}

{% block title %}Ofertas disponibles
{% endblock %}

{% block body %}
    <div class="container p-2">
        <div id="flash-messages">
            {% for messages in app.flashes %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        <div>
            <h1 class="fw-bold">Ofertas disponibles</h1>
            {% if offers|length > 0 %}
                <ul>
                    {% for offer in offers %}
                        <li>{{ offer.title }}</li>
                        <a href="{{ url('offer_apply', {id: offers.id}) }}">Aplicar</a>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="fw-bold text-danger">No hay ofertas aún</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
